<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-smartConfig"
        version="0.0.2">

    <name>smartConfigPlugin</name>
    <license>MIT license</license>
    <description>智能互联网插件</description>
    <keywords>cordova, smart</keywords>
    <repo>https://github.com/micrqwe/cordova-smartConfig</repo>
    <issue>https://github.com/micrqwe/cordova-smartConfig/issues</issue>

    <engines>
        <engine name="cordova" version=">=3.4.0"/>
    </engines>

    <js-module src="www/smart.js" name="smart">
        <clobbers target="smart"/>
    </js-module>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="smart">
                <param name="android-package" value="net.kingsilk.www.SmartConfigPlugin"/>
            </feature>
        </config-file>
        <source-file src="src/android/SmartConfigPlugin.java" target-dir="src/net/kingsilk/www"/>
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="smart">
                <param name="ios-package" value="SmartConfig"/>
            </feature>
        </config-file>

        <!--<config-file target="*-Info.plist" parent="CFBundleURLTypes">-->
        <!--<array>-->
        <!--<dict>-->
        <!--<key>CFBundleURLName</key>-->
        <!--<string>alipay</string>-->
        <!--<key>CFBundleURLSchemes</key>-->
        <!--<array>-->
        <!--<string>a$PARTNER_ID</string>-->
        <!--</array>-->
        <!--</dict>-->
        <!--</array>-->
        <!--</config-file>-->

        <framework src="AudioUnit.framework" weak="true"/>
        <framework src="src/ios/Util/libsmartlinklib_7x.a" custom="true"/>

        <header-file src="src/ios/SmartConfig.h"/>
        <source-file src="src/ios/SmartConfig.m"/>


    </platform>
</plugin>
